.header {
   padding: 44px 0 40px;
}


.header-box {
   display: flex;
   justify-content: space-between;
}

.users {
   display: flex;
   gap: 8px;
}
.logo {
   max-width: 100px;
   width: 100%;
}
.header-button {
   font-size: 16px;
   line-height: 150%;
   background: #1890FF;
   color: #fff;
   border-radius: 2px;
   padding: 8px 16px;
   display: flex;
   align-items: center;
   gap: 4px;
   transition: .2s ease-in-out;
}

.header-button:hover {
   opacity: 0.9;
}
.header-basket {
   border-radius: 2px;
   padding: 8px 16px;
   width: 116px;
   height: 40px;
   color: #595959;
   font-size: 16px;
   line-height: 150%;
   display: flex;
   align-items: center;
   gap: 4px;
   transition: .2s ease-in-out;
}

.header-basket:hover {
   background-color: #b5b3b3;
   color: #fff;
}

.header-content {
   margin: 40px 0 0;
   padding: 68px 70px 0;
   display: flex;
   gap: 15px;
   flex-direction: column;
}
.header-bg {
   background-image: url(../img/bg/bg.jpg);
   max-width: 1200px;
   width: 100%;
   min-height: 300px;
   height: 100%;
}

.header-title {
   max-width: 409px;
   width: 100%;
   font-weight: 700;
   font-size: 39px;
   color: #302c34;
}
.header-text {
   max-width: 508px;
   width: 100%;
   font-size: 24px;
   color: #302c34;
}