.products {
}

.products-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.products-title {
   font-weight: 700;
   font-size: 36px;
   color: #000000;
}

.products-search {
   background: #FFFFFF;
   padding: 5px 12px;
   border: 1px solid #BFBFBF;
   border-radius: 2px;
   min-width: 306px;
   height: 34px;
}

.products-search:focus {
   outline: none;
   border: none;
}

.products-search::placeholder {
   font-size: 16px;
   line-height: 150%;
   color: #BFBFBF;
}